@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto+Mono:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3125rem;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-primary);
  user-select: none;
  min-height: 100vh;
  position: relative;
  padding-bottom: 10rem;
}
::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --clr-bold: #8a54f0;
  --bg-primary: #fff;
  --clr-para: #a5a2ab;
  --clr-font: #275884;
  --clr-red: #ec1c24;
  --clr-primary: #fff;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p {
  margin: 0;
  letter-spacing: 0;
}
a {
  text-decoration: none;
}
p {
  color: var(--clr-para);
  font-weight: 500;
  font-size: 0.95rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
}
